$imageWidth: 130px;
$imgHeight: 130px;
$btnWidth: 100px;
$containerWindow: 3;
$containerWidth: ($imageWidth * $containerWindow);

body {
  margin: 0 auto;
  min-width: ($containerWidth + $btnWidth * 2);
}

.wrap {
  display: flex;
}

.container {
  width: $containerWidth;
  overflow: hidden;
  display: flex;
  & > img {
    width: $imageWidth;
    height: $imgHeight;
  }
  
}

button {
  padding: 15px; // castom
  width: $btnWidth;
  background-color: #fff;
  border: none;
  cursor: pointer;
  font-weight: bold;
  font-size: 20px;
  &:focus {
    border: none;
  }
}
